.heading-primary {

    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 3rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        backface-visibility: hidden; // to hide the backpart - or if it is shaking while animation

        /* Animation Tips
        animation-delay: 3s; // to Delay befor starting
        animation-iteration-count: 2; // to repeat animation
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.2rem;
        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba($color-primary-1, 0.8), rgba($color-primary-2, 0.8), rgba($color-Secondary-1, .8));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    text-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    &:hover {
        transform: skewY(2deg) skewX(15deg);

    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}